<app-captcha></app-captcha>
<ion-content class="modal_content">
  <div  style="padding-left:30px;padding-right:10px"> 
    <div class="modal_inner">
      <ion-grid class="ion-text-end" *ngIf="notifications.length !== 0 || notifications_admin.length !== 0">
        <ion-row>
          <!-- <ion-col class="checkbox-col">
            <ion-item lines="none" class="ion-no-padding">
              <ion-checkbox (click)="selectAll($event)"></ion-checkbox>
              <ion-label>Select all</ion-label>
            </ion-item>
          </ion-col> -->
          <ion-col>
            <ion-button fill="clear" class="ion-no-padding" (click)="markAllAsRead()" lines="none">{{ model.key_text16 }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
        <p *ngFor="let x of notifications; index as i" style="padding:10px;border-bottom:1px solid #ccc;color:#e8604c;">
          <span *ngIf="x.notification_type == 1">
              {{ model.key_text1 }} {{ model.username }}, {{ model.key_text2 }} <span *ngIf="x.food_type==1">{{ model.key_text3 }}</span><span *ngIf="x.food_type==2">{{ model.key_text4 }}</span> {{ model.key_text5 }}.  
              {{ x.no_of_person }} {{ model.key_text7 }} {{ x.food_receiver_name }} {{ model.key_text6 }}
              <ion-icon (click)="notification(x.id,i)" name="eye-outline"></ion-icon>
          </span>
          <span *ngIf="x.notification_type == 2 && this.model.status==1">
            {{ model.key_text8 }}
            <ion-icon (click)="notification(x.id,i)" name="eye-outline"></ion-icon>
          </span>
          <span *ngIf="x.notification_type == 2 && this.model.status==2">
            {{ model.key_text9 }}
            <ion-icon (click)="notification(x.id,i)" name="eye-outline"></ion-icon>
          </span>
          <span *ngIf="x.notification_type == 3">
            {{ x.food_receiver_name }} {{ model.key_text10 }}
            <ion-icon (click)="notification(x.id,i)" name="eye-outline"></ion-icon>
          </span>
          <span *ngIf="x.notification_type == 5">
            {{ model.key_text12 }}
            <ion-icon (click)="notification(x.id,i)" name="eye-outline"></ion-icon>
          </span> 
          <span *ngIf="x.notification_type == 6">
            {{ x.notification_message }}
            <ion-icon (click)="notification(x.id,i)" name="eye-outline"></ion-icon>
          </span>
        </p>
        <p  *ngFor="let x of notifications_admin;index as i" style="padding:0px 10px; border-bottom:1px solid #ccc;color:#e8604c;" >
          <span *ngIf="x.message=='YOUR_DONATION_IS_EXPIRED'">
            {{ model.key_text17 }}
            <ion-icon (click)="notification_admin(x.id,i)" name="eye-outline"></ion-icon>
          </span>
          <span *ngIf="x.message!=='YOUR_DONATION_IS_EXPIRED'">
            {{ x.message }}
            <ion-icon (click)="notification_admin(x.id,i)" name="eye-outline"></ion-icon>
          </span>
        </p>
        <p *ngIf="notifications.length == 0 && notifications_admin.length == 0" style="text-align: center;">
            {{ model.key_text11 }}
        </p>
    </div>
  </div>
  <!-- <div class="ion-text-center markasreadbtn">
    <button (click)="markAsRead()" class="app_btn" style="padding:10px" *ngIf="notifications.length !== 0 || notifications_admin.length !== 0">Mark as read</button>
  </div>
  [checked]="selectedAll"
-->
</ion-content>
<app-footer [currentRoute]="'/notification'"></app-footer>