
<app-captcha></app-captcha>
<ion-content style="display: flex;flex-direction: column;height: 100%;" >
<div class="ion-padding theme_width my_custome_theme_width" *ngIf="search_type==''">
  <div class="big_content_new noto_medium size_18">
  </div>
  <div class="horizontal_center">
    <a>
      <button class="app_btn big button" [ngClass]="model.click ? 'btn_disabled_class' : ''" (click)="!model.click && openModalCurrentLocation()">
        {{model.key_text1}}
      </button>
    </a>
    <a (click)="openOnTheWay()">
      <button class="app_btn big button">
        {{model.key_text2}}
      </button>  
    </a>
  </div>
</div>

<div *ngIf="search_type!=''">
<ion-img src="../assets/images/loader.gif" style="height: 100px;text-align: center;margin-top: 50%;"></ion-img>
<h5 class="size_15 regular green center">{{model.key_text1}}</h5>
</div>
</ion-content>

<app-footer [currentRoute]="'/screen-food-screen-two'"></app-footer>
