
<app-captcha></app-captcha>
<ion-content style="display: flex;flex-direction: column;height: 100%;">
<div class="ion-padding theme_width my_custome_theme_width">
  <div class="big_content_new noto_medium size_18">
  </div>
  <div class="horizontal_center">
    <a (click)="pickupRequest()">
      <button class="app_btn big button">
        {{model.key_text1}}
      </button>
    </a>
    <a (click)="donateLater()">
      <button class="app_btn big button">
        {{model.key_text2}}
      </button>  
    </a>
  </div>
</div>

</ion-content>
<app-footer [currentRoute]="'/screen-after-volunteer-not-found'"></app-footer>


  

