<app-captcha></app-captcha>
  <div class="big_content noto_medium size_18" style="margin-bottom: 35px;" >
    <ion-slides [options]="slideOpts"  >
      <ion-slide  *ngFor="let slide of slides">
        <div *ngIf=" slide.description != null" >
          <div style="font-size:18px !important;" >"{{slide.description}}"<br>
            <div class="grey" style="text-align: center;">-{{slide.quotes_by}}</div>
          </div>  
        </div>   
      </ion-slide>    
    </ion-slides>
  </div>
<ion-content style="display: flex;flex-direction: column;height: 100%;" >
<div class="ion-padding theme_width my_custome_theme_width" style="padding-top: -25px;">
  
  <div class="horizontal_center">
    
    <a (click)="get_food_search()">
      <button class="app_btn big button">
        {{model.key_text3}}
      </button>
    </a>
    <a (click)="go_donate()">
      <button class="app_btn big button">
        {{model.key_text4}}
      </button>  
    </a>
    <a (click)="go_to_volunteer()" *ngIf="model.is_volunteer== 1">
      <button class="app_btn big button">
        {{model.key_text8}}
      </button>  
    </a>
  </div>
  <app-footer [currentRoute]="'/home'" [foo_lang]="foo_lang" ></app-footer>
</div>

</ion-content>