<app-captcha></app-captcha>
  
<ion-content style="display: flex;flex-direction: column;height: 100%;" >
<div class="ion-padding theme_width my_custome_theme_width" style="padding-top: -25px;">
  <div class="big_content noto_medium size_18">
    " {{model.key_text1}}<br>
    {{model.key_text2}} "
  </div>
  <div class="horizontal_center">
    
    <a (click)="get_food_search()">
      <button class="app_btn big button">
        {{model.key_text3}}
      </button>
    </a>
    <a (click)="go_donate()">
      <button class="app_btn big button">
        {{model.key_text4}}
      </button>  
    </a>
    <a (click)="go_to_volunteer()" *ngIf="model.is_volunteer== 1">
      <button class="app_btn big button">
        {{model.key_text8}}
      </button>  
    </a>
  </div>
</div>
</ion-content>
<app-footer [currentRoute]="'/home'" [foo_lang]="foo_lang"></app-footer>


  

